image: "python:3.9"

before_script:
- pip install tox
- curl https://pyenv.run | bash
- export PYENV_ROOT="$HOME/.pyenv"
- command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
- eval "$(pyenv init -)"
- pyenv install 3.8.0
- pyenv install 3.9.13
- pyenv install 3.10.6
- pyenv local 3.8.0 3.9.13 3.10.6
- curl -Os https://uploader.codecov.io/latest/linux/codecov
- chmod +x codecov

# noop job:
#   before_script:
#     - ''
#   script:
#     - ":"

run tests:
    stage: test
    script:
    - tox
    - ./codecov
    coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
    artifacts:
        reports:
        coverage_report:
            coverage_format: cobertura
            path: coverage.xml
        junit: .tox/test_results/tests.*.xml
        # paths:
        #   - .tox/test_results/tests.*.xml
        #   - htmlcov
